* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- Generator container styles --- */

.container {
    background: rgb(67, 67, 68);
    border: 0.8px solid rgb(24, 24, 24);
    border-radius: 5px;
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.5);
    color: rgb(252,253,253);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
    padding: 10px 0;
    text-align: center;
    width: 420px;
}
h1 {
    font-size: 35px;
    font-weight: lighter;
    margin: 20px;
}

/* --- Option styles --- */

.options-container {
    background-color: rgb(252,253,253);
    border: 0.8px solid rgb(24, 24, 24);
    border-radius: 5px;
    color: rgb(67, 67, 68);
    margin: 20px auto;
    padding: 8px;
    width: 80%;
}
.option {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.option span {
    padding-top: 5px;
}
/* --- Length option styles --- */

label:first-child {
    padding-top: 5px;
}
#length {
    background-color: rgb(252,253,253);
    border: none;
    border-radius: 34px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
    color: rgb(67, 67, 68);
    font-size: 16px;
    height: 28px;
    padding: 2px;
    text-align: center;
    width: 70px;
}

/* --- Option toggle switch styles --- */

.switch {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 52px;
    height: 28px;
}

/* Hide input checkbox but keep click/tab behavior */
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(204, 204, 204);
    border-radius: 34px;
    transition: 300ms;
    transition: 300ms;
}

/* Slider toggle */
.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 300ms;
    transition: 300ms;
}
  
/* When input is checked change slider background color to green */
input:checked + .slider {
    background-color: rgb(1, 218, 37);
}
  
/* When input is selected with tab then give slider a box-shadow */
input:focus + .slider {
    box-shadow: -1.5px 1.5px 5px rgba(0, 0, 0, 0.9);
}

/*  When input is checked translate slider toggle to the right */
input:checked + .slider:before {
    transform: translateX(24px);
} 


/* --- Button styles --- */

.button-container {
    align-content: space-between;
    display: flex;
    margin: 15px auto;
    width: 90%;
}
#generateBtn {
    background: radial-gradient(rgb(61, 219, 88), rgb(1, 218, 37));
    border: none;
    border-radius: 5px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    color: rgb(252,253,253);
    cursor: pointer;
    font-size: 18px;
    padding: 12px;
    margin: auto;
    width: 70%;
}

/* --- Results styles --- */

.result-container {
    align-content: space-between;
    background-color: rgb(252,253,253);
    border-radius: 5px;
    color: rgb(67, 67, 68);
    display: flex;
    height: 40px;
    margin: 20px auto;
    width: 80%;
}
#result {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    width: 90%;
}

/* --- Copy button styles --- */

#copyBtn {
    background-color: rgb(252,253,253);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 28px; 
    padding: 2px 7px;
}

